/****** GENERAL ******/
* {
  margin: 0rem;
  font-family: "Roboto";
  font-size: 19px;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 1440px;
  margin: auto;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  max-width: 270px;
}

h2 {
  align-self: flex-start;
  color: #000000;
  text-align: start;
  font-size: 26px;
  font-weight: 700;
  padding: 2rem 0.5rem 0.5rem 1rem;
  margin: auto;
  max-width: 400px;
}

/****** ANIMATION START ******/
.full-screen-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  min-width: 400px;
  height: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  animation: loader-timming 0.5s ease-in-out forwards 3.1s;
}

@keyframes loader-timming {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.logo-loader {
  width: 90%;
  position: absolute;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

.loader {
  display: flex;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  width: 88%;
  background-color: #000000;
}

.loader-bar {
  height: 200px;
  background: linear-gradient(0.25turn, #9356DC, #FF79DA);
  animation: loader-animation 3s ease-in-out forwards;
}

@keyframes loader-animation {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  90% {
    width: 55%;
  }
  100% {
    width: 100%;
  }
}
/****** HEADER ******/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img {
  padding: 1rem 0rem;
  width: 162px;
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #EAEAEA;
  color: #353535;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3764705882);
  margin-bottom: 0.5rem;
  padding: 1rem 0rem;
}
.localisation i {
  padding-right: 0.5rem;
}

/****** BODY ******/
/****** Reservation ******/
.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
  padding: 2.5rem 2rem;
}
.reservation p {
  text-align: center;
  padding: 1rem 0rem;
  color: #353535;
}
.reservation .exploration-button {
  width: 220px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.2509803922) 1px 3px 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFFFFF;
  margin-top: 1rem;
  padding: 1rem;
  transition: 0.2s ease-out;
}
.reservation .exploration-button:hover {
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.3137254902) 2px 5px 5px;
  transition: 0.2s ease-in-out;
}

/****** Fonctionnement ******/
.three-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.one-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 400px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.number-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  z-index: 1;
  border-radius: 10rem;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #9356DC;
  margin-right: -0.65rem;
}

.button-option {
  display: flex;
  align-items: center;
  width: 330px;
  height: 75px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1882352941) 1px 3px 10px;
  padding-left: 2rem;
  font-weight: 500;
}
.button-option i {
  color: #7E7E7E;
  padding-right: 1.3rem;
  font-size: 22px;
}
.button-option .fa-store {
  color: #9356DC;
}

/****** Restaurants ******/
.restaurant-section {
  background-color: #F6F6F6;
  margin-top: 2rem;
  padding-bottom: 2.5rem;
}

.two-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 400px;
  color: #000000;
  margin-top: 1rem;
}
.card a {
  text-decoration: none;
}

.photo-card-1 {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  width: 100%;
  height: 190px;
  border-radius: 1rem 1rem 0rem 0rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../image/menu-la-palette-du-gout.jpg);
}

.photo-card-2 {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  width: 100%;
  height: 190px;
  border-radius: 1rem 1rem 0rem 0rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../image/menu-la-note-enchantee.jpg);
}

.photo-card-3 {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  width: 100%;
  height: 190px;
  border-radius: 1rem 1rem 0rem 0rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../image/menu-a-la-francaise.jpg);
}

.photo-card-4 {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  width: 100%;
  height: 190px;
  border-radius: 1rem 1rem 0rem 0rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../image/menu-le-delice-des-sens.jpg);
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1882352941) 1px 3px 10px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 17px;
  font-weight: 500;
  padding: 0.3rem 1rem;
  margin: 1rem 1rem 0rem 0rem;
}

.text-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-card a {
  width: 100%;
  color: #000000;
  text-align: start;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 1rem;
  background-color: #FFFFFF;
}
.text-card a span {
  font-size: 20px;
  font-weight: 600;
}
.text-card .favorite {
  width: 25px;
  height: 25px;
  position: relative;
  left: -1rem;
  margin: 1rem 0rem 0rem -2rem;
  background-image: url(../image/heart-empty.png);
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.text-card .favorite:hover {
  opacity: 1;
  background-image: url(../image/heart-full.png);
}

/****** FOOTER ******/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #FFFFFF;
  padding: 1rem;
}
footer .logo-footer {
  font-family: "Shrikhand";
  font-size: 23px;
  padding: 1rem 0rem;
}

.navigation-container p {
  padding-bottom: 0.5rem;
  font-size: 18px;
}
.navigation-container p i {
  padding-right: 0.5rem;
}
.navigation-container a {
  color: #FFFFFF;
  text-decoration: none;
}

/****** Tablette & Desktop VIEW ******/
@media screen and (min-width: 1220px) {
  h1 {
    font-size: 40px;
    max-width: 100%;
  }
  h2 {
    max-width: 1200px;
    padding-left: 0rem;
  }
  .logo-loader {
    width: 40%;
  }
  .loader {
    width: 38%;
  }
  header img {
    padding: 1.75rem 0rem;
    width: 200px;
  }
  .localisation {
    box-shadow: none;
    margin-bottom: 0rem;
  }
  .three-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .one-option {
    padding: 1rem;
  }
  .two-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card {
    max-width: 550px;
  }
  footer {
    flex-direction: row-reverse;
    padding: 3.5rem 2rem 2rem 0rem;
  }
  footer .logo-footer {
    padding: 0rem 2rem 0rem 5rem;
  }
  .navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navigation-container p {
    padding-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .navigation-container a {
    margin-left: 1.5rem;
  }
}/*# sourceMappingURL=style-home.css.map */